@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Nanum+Myeongjo:wght@400;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$background: #1B1B1B;
$primary-light: #1A9CDA;
$primary-dark: #1674BA;
$accent: #F8C017;
$card: #242424;

$mobile: 600px;
$tablet-min: 600px;
$tablet-max: 1100px;

@mixin mobile{
    @media (max-width: #{$mobile}){
        @content;
    }
}

@mixin tablet{
    @media screen and (min-width: $tablet-min) and (max-width: $tablet-max){
        @content;
    }
}

.show-on-mob-only{
    visibility: hidden;
    @include mobile{
        visibility: initial;
    }
}


html, body{
    background-color: $background;
    font-size: 16px;
    color: #fff;
    font-family: 'Nanum Myeongjo', serif;
    font-weight: 400 !important;
    width: 100vw;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
a{
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    font-family: 'Nanum Myeongjo', serif;
    border: none;
    outline: none;
    font-size: 1.25rem;
}
.container{
    margin: 0 auto;
    width: 80%;

    @include mobile{
        width: 90%;
    }
}
p{
    font-size: 1rem;
    font-style: normal;
    font-weight: 300;
    line-height: 192%; /* 1.92rem */
}
button{
    border: none;
    outline: none;
}
.btn-primary{
    padding: 0.5rem 1.5rem;
    background: linear-gradient(100deg, $primary-light 0%, $primary-dark 104.82%);
    border: 4px solid rgba(255, 255, 255, .20) !important;
    border-radius: 2rem;
    font-family: 'Nanum Myeongjo', serif;
    font-size: 1.25rem;
    color: #fff;
    cursor: pointer;
    width: auto;
    box-sizing: unset;

    @include mobile{
        padding: 0.5rem 1.25rem;
        font-size: 1rem;
    }
}
.btn-secondary{
    padding: 0.5rem 1.5rem;
    background: rgba(255, 255, 255, 0.20);
    border: 4px solid rgba(255, 255, 255, .20) !important;
    border-radius: 2rem;
    font-family: 'Nanum Myeongjo', serif;
    font-size: 1.25rem;
    color: #fff;
    cursor: pointer;
    width: auto;
    box-sizing: unset;

    @include mobile{
        padding: 0.5rem 1.25rem;
        font-size: 1rem;
    }
}

.logo{
    display: flex;
    align-items: center;
    font-family: 'Inter', sans-serif;
    img{
        height: 4rem;
        margin-right: 1.5rem;
        @include mobile{
            height: 2rem;
            margin-right: .35rem;
        }
    }
    .wordmark{
        font-size: 1.25rem;
        font-weight: 400;
        line-height: 130%;
        @include mobile{
            font-size: 0.85rem;
        }
        @include tablet{
            font-size: 1rem ;
        }
        span{
            font-weight: 700;
        }
    }
}
nav{
    background-color: transparent;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10000;
    .navbar{
        padding: 2rem 0;
        display: flex;
        justify-content: space-between;
        @include mobile{
            padding: 1rem 0;
            flex-direction: column;
            gap: 1rem;
        }
        
        .menu{
            display: flex;
            ul{
                display: flex;
                list-style: none;
                align-items: center;
                @include mobile{
                    width: 100%;
                    justify-content: flex-end;
                    padding-top: 1rem;
                }
                li{
                    margin-right: 3.5rem;
                    @include mobile{
                        margin-right: 0rem;
                        margin-left: 2rem;
                        text-align: left;
                        //display: none;
                    }
                    @include tablet{
                        margin-right: 1.5rem;
                    }
                    a{
                        opacity: .5;
                        font-size: 1rem;
                    }
                    .active{
                        opacity: 1;
                    }
                }
                li:nth-child(3){
                    margin-right: 0;
                    @include mobile{
                        position: absolute;
                        right: 5%;
                        top: 1rem;
                        display: block;
                    }

                }
            }
        }
    }
}

/*
.mobile-bottom-nav{
    position: fixed;
    bottom: 0;
    padding: 0.75rem 0rem;
    display: flex;
    flex-direction: column;
    width: 100vw;
    background-color: rgba(255, 255, 255, .15);
    backdrop-filter: blur(5px); 
    ul{
        list-style: none;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        a{
            font-size: 1rem;
        }
    }
}
*/
footer{
    .world{
        display: flex;
        gap: 6rem;
        @include mobile{
            flex-direction: column;
            gap: 1rem;
        }
        .left{

            //Dynamic World Map
            .map-canvas {
                text-align: center; 
                  
                img {
                  display: none;
                }
                
                .no-canvas & {
                  
                  img {
                    display: inline-block;
                    max-width: 100%;
                    height: auto;
                  }
                }
            }
            #canvas-map {
            max-width: 100%;
            margin: 0 auto;
            }
            //Dynamic World Map Ends Here
        }
        .right{
            padding: 4rem 0;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            @include mobile{
                justify-content: flex-start;
            }
            @include tablet{
                padding: 2rem 0;
            }
            p{
                font-size: 1.25rem;
                font-weight: 400;
                line-height: 144%;
                @include mobile{
                    font-size: 1rem;
                    margin-bottom: 2rem;
                }
                @include tablet{
                     font-size: 1rem;
                     margin-bottom: 1rem;
                }
            }
            .link{
                width: auto;
                @include mobile{
                    margin-bottom: 3rem;
                }
                @include tablet{
                    margin-bottom: 3rem;
                }
                .underline{
                    height: 1.5px;
                    width: 230px;
                    background-color: #fff;
                    margin-top: 7px;
                }
            }
            .socials{
                width: 80px;
                display: flex;
                justify-content: space-between;
                a{
                    opacity: 0.8;
                    &:hover{
                        opacity: 1;
                    }
                    &:nth-child(3){
                        display: none;
                    }
                }
            }

        }
    }
    .contacts{
        display: flex;
        justify-content: space-between;
        padding: 6rem 0;
        @include mobile{
            flex-direction: column;
            padding: 3rem 0;
            padding-bottom: 0;
        }
        
        .contact{
            @include mobile{
                margin-bottom: 5rem;
            }
            @include tablet{
                width: 30%;
            }
            h3{
                font-size: 1.25rem;
                margin-bottom: 1rem;
                font-weight: 400;
            }
            @include tablet{
                font-size: 1.125rem;
            }
            .divider{
                height: 4px;
                width: 2rem;
                background-color: $accent;
                margin-bottom: 2rem;
                @include mobile{
                    margin-bottom: .75rem;
                }
            }
            .names{
                display: flex;
                gap: 1.5rem;
                @include mobile{
                    opacity: 0.75;
                }
                @include tablet{
                    flex-direction: column;
                    padding-top: 1rem;
                }
                .name{
                    @include tablet{
                        margin-bottom: 1.5rem;
                    }
                    p{
                        margin-bottom: 1rem;
                    }
                    a{
                        font-size: 1rem;
                        @include tablet{
                            opacity: 0.75;
                        }
                    }
                }
            }
        }

    }
    .bottom{
        padding: 2rem 0;
        padding-bottom: 6rem;
        @include mobile{
            padding-bottom: 3rem;
        }
        @include tablet{
            padding-bottom: 3rem;
        }
        .logo{
            padding-bottom: 4rem;
            @include mobile{
                padding-bottom: 2rem;
            }
            @include tablet{
                padding-bottom: 2rem;
            }
        }
        .info{
            display: flex;
            padding: 0;
            justify-content: space-between;
            padding-block: 2rem;
            @include mobile{
                flex-direction: column;
            }
            .left{
                p{
                    //width: 50%;
                    @include mobile{
                        padding-bottom: 2.5rem;
                    }
                }
            }
            .right{
                text-align: right;
                @include mobile{
                    text-align: left;
                }
                p{
                    opacity: 0.5;
                }
                a{
                    opacity: 1;
                }
                .underline{
                    height: 1.5px;
                    width: 102px;
                    background-color: #fff;
                    margin-top: 7px;
                }
            }
        }
    }
}