@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Nanum+Myeongjo:wght@400;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.show-on-mob-only {
  visibility: hidden;
}
@media (max-width: 600px) {
  .show-on-mob-only {
    visibility: initial;
  }
}

html, body {
  background-color: #1B1B1B;
  font-size: 16px;
  color: #fff;
  font-family: "Nanum Myeongjo", serif;
  font-weight: 400 !important;
  width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

a {
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  font-family: "Nanum Myeongjo", serif;
  border: none;
  outline: none;
  font-size: 1.25rem;
}

.container {
  margin: 0 auto;
  width: 80%;
}
@media (max-width: 600px) {
  .container {
    width: 90%;
  }
}

p {
  font-size: 1rem;
  font-style: normal;
  font-weight: 300;
  line-height: 192%; /* 1.92rem */
}

button {
  border: none;
  outline: none;
}

.btn-primary {
  padding: 0.5rem 1.5rem;
  background: linear-gradient(100deg, #1A9CDA 0%, #1674BA 104.82%);
  border: 4px solid rgba(255, 255, 255, 0.2) !important;
  border-radius: 2rem;
  font-family: "Nanum Myeongjo", serif;
  font-size: 1.25rem;
  color: #fff;
  cursor: pointer;
  width: auto;
  box-sizing: unset;
}
@media (max-width: 600px) {
  .btn-primary {
    padding: 0.5rem 1.25rem;
    font-size: 1rem;
  }
}

.btn-secondary {
  padding: 0.5rem 1.5rem;
  background: rgba(255, 255, 255, 0.2);
  border: 4px solid rgba(255, 255, 255, 0.2) !important;
  border-radius: 2rem;
  font-family: "Nanum Myeongjo", serif;
  font-size: 1.25rem;
  color: #fff;
  cursor: pointer;
  width: auto;
  box-sizing: unset;
}
@media (max-width: 600px) {
  .btn-secondary {
    padding: 0.5rem 1.25rem;
    font-size: 1rem;
  }
}

.logo {
  display: flex;
  align-items: center;
  font-family: "Inter", sans-serif;
}
.logo img {
  height: 4rem;
  margin-right: 1.5rem;
}
@media (max-width: 600px) {
  .logo img {
    height: 2rem;
    margin-right: 0.35rem;
  }
}
.logo .wordmark {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 130%;
}
@media (max-width: 600px) {
  .logo .wordmark {
    font-size: 0.85rem;
  }
}
@media screen and (min-width: 600px) and (max-width: 1100px) {
  .logo .wordmark {
    font-size: 1rem;
  }
}
.logo .wordmark span {
  font-weight: 700;
}

nav {
  background-color: transparent;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10000;
}
nav .navbar {
  padding: 2rem 0;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 600px) {
  nav .navbar {
    padding: 1rem 0;
    flex-direction: column;
    gap: 1rem;
  }
}
nav .navbar .menu {
  display: flex;
}
nav .navbar .menu ul {
  display: flex;
  list-style: none;
  align-items: center;
}
@media (max-width: 600px) {
  nav .navbar .menu ul {
    width: 100%;
    justify-content: flex-end;
    padding-top: 1rem;
  }
}
nav .navbar .menu ul li {
  margin-right: 3.5rem;
}
@media (max-width: 600px) {
  nav .navbar .menu ul li {
    margin-right: 0rem;
    margin-left: 2rem;
    text-align: left;
  }
}
@media screen and (min-width: 600px) and (max-width: 1100px) {
  nav .navbar .menu ul li {
    margin-right: 1.5rem;
  }
}
nav .navbar .menu ul li a {
  opacity: 0.5;
  font-size: 1rem;
}
nav .navbar .menu ul li .active {
  opacity: 1;
}
nav .navbar .menu ul li:nth-child(3) {
  margin-right: 0;
}
@media (max-width: 600px) {
  nav .navbar .menu ul li:nth-child(3) {
    position: absolute;
    right: 5%;
    top: 1rem;
    display: block;
  }
}

/*
.mobile-bottom-nav{
    position: fixed;
    bottom: 0;
    padding: 0.75rem 0rem;
    display: flex;
    flex-direction: column;
    width: 100vw;
    background-color: rgba(255, 255, 255, .15);
    backdrop-filter: blur(5px); 
    ul{
        list-style: none;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        a{
            font-size: 1rem;
        }
    }
}
*/
footer .world {
  display: flex;
  gap: 6rem;
}
@media (max-width: 600px) {
  footer .world {
    flex-direction: column;
    gap: 1rem;
  }
}
footer .world .left .map-canvas {
  text-align: center;
}
footer .world .left .map-canvas img {
  display: none;
}
.no-canvas footer .world .left .map-canvas img {
  display: inline-block;
  max-width: 100%;
  height: auto;
}
footer .world .left #canvas-map {
  max-width: 100%;
  margin: 0 auto;
}
footer .world .right {
  padding: 4rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 600px) {
  footer .world .right {
    justify-content: flex-start;
  }
}
@media screen and (min-width: 600px) and (max-width: 1100px) {
  footer .world .right {
    padding: 2rem 0;
  }
}
footer .world .right p {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 144%;
}
@media (max-width: 600px) {
  footer .world .right p {
    font-size: 1rem;
    margin-bottom: 2rem;
  }
}
@media screen and (min-width: 600px) and (max-width: 1100px) {
  footer .world .right p {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
}
footer .world .right .link {
  width: auto;
}
@media (max-width: 600px) {
  footer .world .right .link {
    margin-bottom: 3rem;
  }
}
@media screen and (min-width: 600px) and (max-width: 1100px) {
  footer .world .right .link {
    margin-bottom: 3rem;
  }
}
footer .world .right .link .underline {
  height: 1.5px;
  width: 230px;
  background-color: #fff;
  margin-top: 7px;
}
footer .world .right .socials {
  width: 80px;
  display: flex;
  justify-content: space-between;
}
footer .world .right .socials a {
  opacity: 0.8;
}
footer .world .right .socials a:hover {
  opacity: 1;
}
footer .world .right .socials a:nth-child(3) {
  display: none;
}
footer .contacts {
  display: flex;
  justify-content: space-between;
  padding: 6rem 0;
}
@media (max-width: 600px) {
  footer .contacts {
    flex-direction: column;
    padding: 3rem 0;
    padding-bottom: 0;
  }
}
@media (max-width: 600px) {
  footer .contacts .contact {
    margin-bottom: 5rem;
  }
}
@media screen and (min-width: 600px) and (max-width: 1100px) {
  footer .contacts .contact {
    width: 30%;
  }
}
footer .contacts .contact h3 {
  font-size: 1.25rem;
  margin-bottom: 1rem;
  font-weight: 400;
}
@media screen and (min-width: 600px) and (max-width: 1100px) {
  footer .contacts .contact {
    font-size: 1.125rem;
  }
}
footer .contacts .contact .divider {
  height: 4px;
  width: 2rem;
  background-color: #F8C017;
  margin-bottom: 2rem;
}
@media (max-width: 600px) {
  footer .contacts .contact .divider {
    margin-bottom: 0.75rem;
  }
}
footer .contacts .contact .names {
  display: flex;
  gap: 1.5rem;
}
@media (max-width: 600px) {
  footer .contacts .contact .names {
    opacity: 0.75;
  }
}
@media screen and (min-width: 600px) and (max-width: 1100px) {
  footer .contacts .contact .names {
    flex-direction: column;
    padding-top: 1rem;
  }
}
@media screen and (min-width: 600px) and (max-width: 1100px) {
  footer .contacts .contact .names .name {
    margin-bottom: 1.5rem;
  }
}
footer .contacts .contact .names .name p {
  margin-bottom: 1rem;
}
footer .contacts .contact .names .name a {
  font-size: 1rem;
}
@media screen and (min-width: 600px) and (max-width: 1100px) {
  footer .contacts .contact .names .name a {
    opacity: 0.75;
  }
}
footer .bottom {
  padding: 2rem 0;
  padding-bottom: 6rem;
}
@media (max-width: 600px) {
  footer .bottom {
    padding-bottom: 3rem;
  }
}
@media screen and (min-width: 600px) and (max-width: 1100px) {
  footer .bottom {
    padding-bottom: 3rem;
  }
}
footer .bottom .logo {
  padding-bottom: 4rem;
}
@media (max-width: 600px) {
  footer .bottom .logo {
    padding-bottom: 2rem;
  }
}
@media screen and (min-width: 600px) and (max-width: 1100px) {
  footer .bottom .logo {
    padding-bottom: 2rem;
  }
}
footer .bottom .info {
  display: flex;
  padding: 0;
  justify-content: space-between;
  padding-block: 2rem;
}
@media (max-width: 600px) {
  footer .bottom .info {
    flex-direction: column;
  }
}
@media (max-width: 600px) {
  footer .bottom .info .left p {
    padding-bottom: 2.5rem;
  }
}
footer .bottom .info .right {
  text-align: right;
}
@media (max-width: 600px) {
  footer .bottom .info .right {
    text-align: left;
  }
}
footer .bottom .info .right p {
  opacity: 0.5;
}
footer .bottom .info .right a {
  opacity: 1;
}
footer .bottom .info .right .underline {
  height: 1.5px;
  width: 102px;
  background-color: #fff;
  margin-top: 7px;
}

.background {
  height: 100vh;
  width: 100%;
  position: relative;
}
@media (max-width: 600px) {
  .background {
    height: 75vh;
  }
}
.background video {
  position: absolute;
  left: 50%;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  transform: translateX(-50%);
}
@media (max-width: 600px) {
  .background video {
    max-height: 75%;
  }
}
.background .overlay {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(30, 30, 30, 0.55), #1E1E1E);
  z-index: 1;
  position: absolute;
}
@media (max-width: 600px) {
  .background .overlay {
    width: 100vw;
    height: 75vh;
  }
}
.background .arrow,
.background .arrow:before {
  position: absolute;
  left: 50%;
  z-index: 100;
}
.background .arrow {
  width: 40px;
  height: 40px;
  bottom: 10%;
  margin: -20px 0 0 -20px;
  -webkit-transform: rotate(45deg);
  border-left: none;
  border-top: none;
  border-right: 2px #fff solid;
  border-bottom: 2px #fff solid;
}
@media (max-width: 600px) {
  .background .arrow {
    width: 30px;
    height: 30px;
  }
}
.background .arrow:before {
  content: "";
  width: 20px;
  height: 20px;
  top: 50%;
  margin: -10px 0 0 -10px;
  border-left: none;
  border-top: none;
  border-right: 1px #fff solid;
  border-bottom: 1px #fff solid;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: arrow;
}
@keyframes arrow {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(-10px, -10px);
  }
}

.main-info {
  padding: 14rem 0;
  position: relative;
}
@media (max-width: 600px) {
  .main-info {
    padding: 6rem 0;
  }
}
.main-info h1 {
  font-family: "Inter", sans-serif;
  font-size: 3rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.75);
  margin-bottom: 2rem;
}
.main-info h1 span {
  font-weight: 700;
  opacity: 1;
  color: #fff;
}
@media (max-width: 600px) {
  .main-info h1 {
    font-size: 2rem;
    line-height: 150%;
  }
}
.main-info h3 {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 1.5rem;
}
@media (max-width: 600px) {
  .main-info h3 {
    font-size: 1.125rem;
  }
}

.bento .bento-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
@media (max-width: 600px) {
  .bento .bento-container {
    align-items: center;
  }
}
.bento .bento-container .column {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  margin: 1rem;
  width: 30%;
  height: 90vh;
}
@media (max-width: 600px) {
  .bento .bento-container .column {
    height: auto;
    row-gap: 1rem;
    margin: 0.5rem;
  }
}
.bento .bento-container .column .card {
  width: 100%;
  border-radius: 1rem;
  height: 30vh;
}
.bento .bento-container .c1 {
  width: 25%;
}
@media (max-width: 600px) {
  .bento .bento-container .c1 {
    width: 40%;
  }
}
.bento .bento-container .c1 .one {
  background-image: url("/assets/gun-img.jpg");
  background-size: cover;
}
@media (max-width: 600px) {
  .bento .bento-container .c1 .one {
    background-position: center center;
  }
}
@media screen and (min-width: 600px) and (max-width: 1100px) {
  .bento .bento-container .c1 .one {
    background-position: center center;
  }
}
.bento .bento-container .c1 .two {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
}
.bento .bento-container .c1 .two h3 {
  text-transform: uppercase;
  color: #000;
  font-size: 2rem;
}
@media (max-width: 600px) {
  .bento .bento-container .c1 .two h3 {
    font-size: 1rem;
  }
}
@media screen and (min-width: 600px) and (max-width: 1100px) {
  .bento .bento-container .c1 .two h3 {
    font-size: 1.5rem;
  }
}
.bento .bento-container .c1 .three {
  height: 40vh;
  width: 100%;
  background: linear-gradient(138deg, #F8C017 -1.44%, #FFA800 100%);
  position: relative;
}
.bento .bento-container .c1 .three img {
  width: 70%;
  float: right;
}
@media (max-width: 600px) {
  .bento .bento-container .c1 .three img {
    height: 20vh;
    width: 100%;
  }
}
@media screen and (min-width: 600px) and (max-width: 1100px) {
  .bento .bento-container .c1 .three img {
    height: 25vh;
    width: 100%;
  }
}
.bento .bento-container .c1 .three a {
  position: absolute;
  bottom: 10%;
  left: 10%;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 2rem;
}
@media (max-width: 600px) {
  .bento .bento-container .c1 .three a {
    left: 50%;
    transform: translateX(-50%);
    font-size: 1rem;
    flex-direction: column;
    justify-content: center;
  }
}
@media screen and (min-width: 600px) and (max-width: 1100px) {
  .bento .bento-container .c1 .three a {
    left: 50%;
    transform: translateX(-50%);
    font-size: 1rem;
    flex-direction: column;
    font-size: 1.5rem;
  }
}
.bento .bento-container .c2 {
  width: 23%;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 600px) {
  .bento .bento-container .c2 {
    width: 40%;
  }
}
.bento .bento-container .c2 .four {
  background: linear-gradient(122deg, #1A9CDA 0%, #1674BA 100%);
  height: 55vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bento .bento-container .c2 .four h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}
@media (max-width: 600px) {
  .bento .bento-container .c2 .four h1 {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 600px) and (max-width: 1100px) {
  .bento .bento-container .c2 .four h1 {
    font-size: 1.5rem;
  }
}
.bento .bento-container .c2 .four h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
}
@media (max-width: 600px) {
  .bento .bento-container .c2 .four h2 {
    font-size: 1rem;
  }
}
@media screen and (min-width: 600px) and (max-width: 1100px) {
  .bento .bento-container .c2 .four h2 {
    font-size: 1rem;
  }
}
.bento .bento-container .c2 .five {
  background-image: url("/assets/cp.webp");
  height: 30vh;
  background-size: cover;
  background-position: center;
}
.bento .bento-container .c3 {
  width: 35%;
}
@media (max-width: 600px) {
  .bento .bento-container .c3 {
    display: none;
  }
}
.bento .bento-container .c3 .six {
  border-radius: 1rem;
  background: linear-gradient(138deg, #F8C017 -1.44%, #FFA800 100%);
  height: 35vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bento .bento-container .c3 .six a h2 {
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 130%;
}
.bento .bento-container .c3 .six a h2 span {
  font-weight: 700;
}
@media screen and (min-width: 600px) and (max-width: 1100px) {
  .bento .bento-container .c3 .six a h2 {
    font-size: 1.125rem;
  }
}
.bento .bento-container .c3 .seven {
  height: 50vh;
  background-image: url("/assets/hq.jpg");
  background-size: cover;
  background-position: center;
}
.bento .bento-container .c3 .flex {
  display: flex;
}
.bento .bento-container .c3 .flex .eight {
  height: 30vh;
  background: linear-gradient(122deg, #1A9CDA 0%, #1674BA 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.5rem;
}
@media screen and (min-width: 600px) and (max-width: 1100px) {
  .bento .bento-container .c3 .flex .eight {
    font-size: 1.25rem;
  }
}
.bento .bento-container .c3 .flex .nine {
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 600px) {
  .bento .bento-container .c3 .flex .nine {
    display: none;
  }
}
@media screen and (min-width: 600px) and (max-width: 1100px) {
  .bento .bento-container .c3 .flex .nine img {
    width: 80%;
  }
}

.letter {
  padding: 10rem 0;
  padding-bottom: 2rem;
  width: 45%;
}
@media (max-width: 600px) {
  .letter {
    width: 75%;
    padding: 5rem 0;
  }
}
@media screen and (min-width: 600px) and (max-width: 1100px) {
  .letter {
    width: 75%;
  }
}
.letter h1 {
  line-height: 144%;
  padding: 3rem 0;
  font-size: 2rem;
}
@media (max-width: 600px) {
  .letter h1 {
    padding: 1.5rem 0;
  }
}
.letter .divider {
  width: 2rem;
  height: 0.5rem;
  background-color: #F8C017;
}
.letter p {
  padding: 3rem 0;
  opacity: 0.75;
}
@media (max-width: 600px) {
  .letter p {
    font-size: 0.85rem;
  }
}

.committees {
  padding: 10rem 0;
}
@media (max-width: 600px) {
  .committees {
    padding: 5rem 0;
  }
}
@media screen and (min-width: 600px) and (max-width: 1100px) {
  .committees {
    padding: 5rem 0;
  }
}
.committees h1 {
  padding-bottom: 6rem;
  margin: 0 auto;
  width: 80%;
}
@media (max-width: 600px) {
  .committees h1 {
    width: 90%;
    padding-bottom: 3rem;
  }
}
@media screen and (min-width: 600px) and (max-width: 1100px) {
  .committees h1 {
    width: 50%;
    text-align: left;
    margin: 0 10%;
  }
}
.committees .scroll-container {
  height: 65vh;
  width: 100%;
  overflow-x: scroll;
}
@media (max-width: 600px) {
  .committees .scroll-container {
    height: auto;
    overflow-x: visible;
  }
}
.committees .scroll-container .row {
  height: 90%;
  display: flex;
  gap: 3rem;
  width: 130%;
  overflow: visible;
  padding: 0 8rem;
}
@media (max-width: 600px) {
  .committees .scroll-container .row {
    overflow-x: scroll;
    padding: 0 1rem;
    gap: 1rem;
    width: 100%;
    height: auto;
  }
}
@media screen and (min-width: 600px) and (max-width: 1100px) {
  .committees .scroll-container .row {
    padding: 0 4.5rem;
    gap: 2rem;
    width: 180%;
  }
}
.committees .scroll-container .row .card {
  height: 80%;
  background-color: #242424;
  display: block;
  width: 50%;
  border-radius: 1rem;
}
@media (max-width: 600px) {
  .committees .scroll-container .row .card {
    height: 40vh;
    width: 14rem;
  }
}
.committees .scroll-container .row .card .top {
  height: 75%;
  background-image: url("/assets/comm/ukraine.png");
  background-size: cover;
  background-position: center;
  border-radius: 1rem 1rem 0 0;
}
@media (max-width: 600px) {
  .committees .scroll-container .row .card .top {
    width: 100%;
  }
}
.committees .scroll-container .row .card .two {
  background-image: url("/assets/comm/unhrc.png");
}
.committees .scroll-container .row .card .three {
  background-image: url("/assets/comm/nuclear.jpg");
}
.committees .scroll-container .row .card .four {
  background-image: url("/assets/comm/electoral.jpg");
}
.committees .scroll-container .row .card .five {
  background-image: url("/assets/comm/ip.jpg");
}
.committees .scroll-container .row .card .card-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 25%;
  padding: 0 1.5rem;
  border: 4px solid rgba(255, 255, 255, 0.2);
  border-radius: 0 0 1rem 1rem;
  border-top: 0;
}
@media (max-width: 600px) {
  .committees .scroll-container .row .card .card-bottom {
    padding-inline: 2rem;
    gap: 5rem;
  }
}
.committees .scroll-container .row .card .card-bottom h3 {
  font-size: 1.5rem;
}
@media (max-width: 600px) {
  .committees .scroll-container .row .card .card-bottom h3 {
    font-size: 1rem;
  }
}
.committees .scroll-container .row .card .card-bottom img {
  height: 2rem;
  filter: invert(100);
}
@media (max-width: 600px) {
  .committees .scroll-container .row .card .card-bottom img {
    height: 1.5rem;
  }
}
.committees ::-webkit-scrollbar-track {
  width: 150px !important;
}
.committees ::-webkit-scrollbar {
  height: 0.5rem;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 0.8rem;
  display: none;
}
.committees ::-webkit-scrollbar-thumb {
  height: 0.5rem;
  border-radius: 0.8125rem;
  background: #FFF;
}

.schedule {
  padding-bottom: 2rem;
}
@media (max-width: 600px) {
  .schedule {
    padding-top: 3rem;
  }
}
.schedule h1 {
  padding-bottom: 8rem;
}
@media (max-width: 600px) {
  .schedule h1 {
    padding-bottom: 3rem;
  }
}
@media screen and (min-width: 600px) and (max-width: 1100px) {
  .schedule h1 {
    padding-bottom: 3rem;
    text-align: center;
  }
}
.schedule .day {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6rem;
}
@media (max-width: 600px) {
  .schedule .day {
    flex-direction: column;
    margin-bottom: 2rem;
  }
}
.schedule .day .left {
  flex: 1;
  padding-right: 4rem;
}
@media (max-width: 600px) {
  .schedule .day .left {
    padding-bottom: 1.5rem;
  }
}
@media screen and (min-width: 600px) and (max-width: 1100px) {
  .schedule .day .left {
    padding-right: 2rem;
    font-size: 2rem;
  }
}
.schedule .day .left h2 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 144%;
  color: #F8C017;
  text-align: right;
  margin-bottom: 2rem;
}
@media (max-width: 600px) {
  .schedule .day .left h2 {
    text-align: left;
    font-size: 1.25rem;
  }
}
@media screen and (min-width: 600px) and (max-width: 1100px) {
  .schedule .day .left h2 {
    font-size: 1.5rem;
  }
}
.schedule .day .left .divider {
  height: 0.5rem;
  width: 2.25rem;
  background-color: #1A9CDA;
  float: right;
}
@media (max-width: 600px) {
  .schedule .day .left .divider {
    float: left;
  }
}
.schedule .day .right {
  flex: 4;
}
.schedule .day .right .row {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
@media screen and (min-width: 600px) and (max-width: 1100px) {
  .schedule .day .right .row {
    justify-content: flex-start;
    gap: 1.5rem;
  }
}
.schedule .day .right .row p {
  width: 40%;
  margin-left: 4rem;
  font-size: 1.25rem;
}
.schedule .day .right .row p:nth-child(1) {
  width: 30%;
}
@media (max-width: 600px) {
  .schedule .day .right .row p:nth-child(1) {
    width: 40%;
  }
}
@media screen and (min-width: 600px) and (max-width: 1100px) {
  .schedule .day .right .row p:nth-child(1) {
    width: 40%;
  }
}
@media (max-width: 600px) {
  .schedule .day .right .row p {
    margin-left: 0;
    font-size: 0.75rem;
    width: 50%;
  }
}
@media screen and (min-width: 600px) and (max-width: 1100px) {
  .schedule .day .right .row p {
    margin-left: 0.5rem;
    font-size: 1rem;
    width: 50%;
  }
}
.schedule .day .right .row svg {
  width: 10%;
}
.schedule .separator {
  width: 90%;
  height: 2px;
  background-color: #fff;
  opacity: 0.5;
  margin-bottom: 6rem;
  margin-left: 4rem;
}
@media (max-width: 600px) {
  .schedule .separator {
    margin-left: 0;
    width: 100%;
    margin-bottom: 2rem;
  }
}
@media screen and (min-width: 600px) and (max-width: 1100px) {
  .schedule .separator {
    margin-bottom: 4rem;
  }
}

.center {
  display: flex;
  justify-content: center;
  padding-bottom: 6rem;
}/*# sourceMappingURL=style.css.map */