@import '_basic';


.background{
    height: 100vh;
    width: 100%;
    position: relative;
    @include mobile{
        height: 75vh;
    }
    video{
        position: absolute;
        left: 50%;
        bottom: 0;
        min-width: 100%;
        min-height: 100%;
        transform: translateX(-50%);
        @include mobile{
            //top: 50%;
            //bottom: 50%;
            max-height: 75%;
        }
    }
    .overlay{
        width: 100%;
        height: 100vh;
        background-image: linear-gradient(rgba(30,30,30,.55), #1E1E1E);
        z-index: 1;
        position: absolute;
        @include mobile{
            width: 100vw;
            height: 75vh;
        }
    }
    .arrow,
    .arrow:before{
        position: absolute;
        left: 50%;
        z-index: 100;
        
    }
    .arrow{
        width: 40px;
        height: 40px;
        bottom: 10%;
        margin: -20px 0 0 -20px;
        -webkit-transform: rotate(45deg);
        border-left: none;
        border-top: none;
        border-right: 2px #fff solid;
        border-bottom: 2px #fff solid;
        @include mobile{
            width: 30px;
            height: 30px;
        }
    
    }  
    .arrow:before{
        content: '';
        width: 20px;
        height: 20px;
        top: 50%;
        margin: -10px 0 0 -10px;
        border-left: none;
        border-top: none;
        border-right: 1px #fff solid;
        border-bottom: 1px #fff solid;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-name: arrow;
    }
    @keyframes arrow{
        0%{
            opacity: 1;
        }
        
        100%{
            opacity: 0;
            transform: translate(-10px, -10px);
        }
        
    }
  
}



.main-info{
    padding: 14rem 0;
    position: relative;
    //margin-top: 50%;
    //transform: translateY(50%);
    @include mobile{
        padding: 6rem 0;
    }

    
    h1{
        font-family: 'Inter', sans-serif;
        font-size: 3rem;
        font-weight: 400;
        color: rgba($color: #fff, $alpha: 0.75);
        margin-bottom: 2rem;
        span{
            font-weight: 700;
            opacity: 1;
            color: #fff;
        }
        @include mobile{
            font-size: 2rem;
            line-height: 150%;
        }
    }
    h3{
        font-size: 1.5rem;
        font-weight: 400;
        margin-bottom: 1.5rem;
        @include mobile{
            font-size: 1.125rem;
        }
    }
}

.bento{
  
    .bento-container{
        width: 100%;
        display: flex;
        justify-content: center;
        $card-width: 100%;
        @include mobile{
            //flex-direction: column;   
            align-items: center;
            
        }
        .column{
            display: flex;
            flex-direction: column;
            row-gap: 2rem;
            margin: 1rem;
            width: 30%;
            height: 90vh; //HEIGHT of the COLUMN **
            @include mobile{
                height: auto;
                row-gap: 1rem;
                margin: 0.5rem;
            }

            .card{
                width: $card-width;
                border-radius: 1rem;
                height: 30vh;
                @include mobile{
                   // width: 25%;
                }
            }
        }
        .c1{
            width: 25%;
            @include mobile{
                width: 40%;
            }
            .one{
                background-image: url('/assets/gun-img.jpg');
                background-size: cover;
                @include mobile{
                    background-position: center center;
                }
                @include tablet{
                    background-position: center center;
                }
            }
            .two{
                background-color: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 5rem;
                h3{
                    text-transform: uppercase;
                    color: #000;
                    font-size: 2rem;
                    @include mobile{
                        font-size: 1rem;
                    }
                    @include tablet{
                        font-size: 1.5rem;
                    }
                }
            }
            .three{
                height: 40vh;
                width: $card-width;
                background: linear-gradient(138deg, $accent -1.44%, #FFA800 100%);
                position: relative;
                img{
                    width: 70%;
                    float: right;
                    @include mobile{
                        height: 20vh;
                        width: 100%;
                    }
                    @include tablet{
                        height: 25vh;
                        width: 100%;
                    }
                }
                a{
                    position: absolute;
                    bottom: 10%;
                    left: 10%;
                    display: flex;
                    align-items: center;
                    gap: 1rem;
                    font-size: 2rem;
                    @include mobile{
                        left: 50%;
                        transform: translateX(-50%);
                        font-size: 1rem;
                        flex-direction: column;
                        justify-content: center;
                    }
                    @include tablet{
                        left: 50%;
                        transform: translateX(-50%);
                        font-size: 1rem;
                        flex-direction: column;
                        font-size: 1.5rem;
                    }
                }
            }
        }
        .c2{
            width: 23%;
            display: flex;
            justify-content: space-between;
            @include mobile{
                width: 40%;
            }
            .four{
                background: linear-gradient(122deg, #1A9CDA 0%, #1674BA 100%);
                height: 55vh;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                h1{
                    font-size: 3rem;
                    margin-bottom: 1rem;
                    @include mobile{
                        font-size: 1.5rem;
                    }
                    @include tablet{
                        font-size: 1.5rem;
                    }
                }
                h2{
                    font-size: 2rem;
                    margin-bottom: 2rem;
                    @include mobile{
                        font-size: 1rem;
                    }
                    @include tablet{
                        font-size: 1rem;
                    }
                }
            }
            .five{
                background-image: url('/assets/cp.webp');
                height: 30vh;
                background-size: cover;
                background-position: center;
            }
        }
        .c3{
            width: 35%;
            @include mobile{
                display: none;
            }
            .six{
                border-radius: 1rem;
                background: linear-gradient(138deg, #F8C017 -1.44%, #FFA800 100%);
                height: 35vh;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                a{
                    h2{
                        text-align: center;
                        font-family: 'Inter', sans-serif;
                        font-size: 1.5rem;
                        font-weight: 400;
                        line-height: 130%;
                        span{
                            font-weight: 700;
                        }
                        @include tablet{
                            font-size: 1.125rem;
                        }
                    }
                    
                }
            }
            .seven{
                height: 50vh;
                background-image: url('/assets/hq.jpg');
                background-size: cover;
                background-position: center;
            }
            .flex{
                display: flex;
                .eight{
                    height: 30vh;
                    background: linear-gradient(122deg, #1A9CDA 0%, #1674BA 100%);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    font-size: 1.5rem;
                    @include tablet{
                        font-size: 1.25rem;
                    }
                }
                .nine{
                    height: 30vh;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    @include mobile{
                        display: none;
                    }
                    @include tablet{
                        img{
                            width: 80%;
                        }
                    }
                }
            }
            
        }
        

            
        
    }
    
}

.letter{
    padding: 10rem 0;
    padding-bottom: 2rem;
    width: 45%;
    @include mobile{
        width: 75%;
        padding: 5rem 0;
    }
    @include tablet{
        width: 75%;
    }
    h1{
        line-height: 144%;
        padding: 3rem 0;
        font-size: 2rem;
        @include mobile{
            padding: 1.5rem 0;
        }
    }
    .divider{
        width: 2rem;
        height: .5rem;
        background-color: $accent;
        //margin-bottom: 2rem;
    }
    p{
        padding: 3rem 0;
        opacity: .75;
        @include mobile{
            font-size: 0.85rem;
        }
    }
}

.committees{
    padding: 10rem 0;
    @include mobile{
        padding: 5rem 0;
    }
    @include tablet{
        padding: 5rem 0;
    }
    h1{
        padding-bottom: 6rem;
        margin: 0 auto;
        width: 80%;
        @include mobile{
            width: 90%;
            padding-bottom: 3rem;
        }
        @include tablet{
            width: 50%;
            text-align: left;
            margin: 0 10%;
        }
    }
    
    .scroll-container{
        height: 65vh;
        //background-color: #FFA800;
        width: 100%;
        overflow-x: scroll;
        @include mobile{
            height: auto;
            overflow-x: visible;
        }
        .row{
            //background-color: #1A9CDA;
            height: 90%;
            display: flex;
            gap: 3rem;
            width: 130%;
            overflow: visible;
            padding: 0 8rem;
            @include mobile{
                overflow-x: scroll;
                padding: 0 1rem;
                gap: 1rem;
                width: 100%;
                height: auto;
            }
            @include tablet{
                padding: 0 4.5rem;
                gap: 2rem;
                width: 180%;
            }
            .card{
                height: 80%;
                background-color: $card;
                display: block;
                width: 50%;
                border-radius: 1rem;
                @include mobile{
                    height: 40vh;
                    width: 14rem; //Not working -> use .bottom gap to change width
                }
                .top{
                    height: 75%;
                    background-image: url('/assets/comm/ukraine.png');
                    background-size: cover;
                    background-position: center;
                    border-radius: 1rem 1rem 0 0;
                    @include mobile{
                        width: 100%;
                    }
                }
                .two{
                    background-image: url('/assets/comm/unhrc.png');
                }
                .three{
                    background-image: url('/assets/comm/nuclear.jpg');
                }
                .four{
                    background-image: url('/assets/comm/electoral.jpg');
                }
                .five{
                    background-image: url('/assets/comm/ip.jpg');
                }
                .card-bottom{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    height: 25%;
                    padding: 0 1.5rem;
                    border: 4px solid rgba(255, 255, 255, 0.20);
                    border-radius: 0 0 1rem 1rem;
                    border-top: 0;
                    @include mobile{
                        //padding: 0 .5rem;
                        padding-inline: 2rem;
                        //width: 100%;
                        //gap: clamp(5rem, 6vw, 8rem);
                        gap: 5rem;
                    }
                    h3{
                        font-size: 1.5rem;
                        @include mobile{
                            font-size: 1rem;
                        }
                    }
                    img{
                        height: 2rem;
                        filter: invert(100);
                        @include mobile{
                            height: 1.5rem;
                        }
                        
                    }
                }
            }
        }
    }
    ::-webkit-scrollbar-track{
        width: 150px !important;
    }
    ::-webkit-scrollbar{
        height: 0.5rem;
        background: rgba(255, 255, 255, 0.20);
        border-radius: 0.8rem;
        display: none;
    }
    ::-webkit-scrollbar-thumb{
        height: 0.5rem;
        border-radius: 0.8125rem;
        background: #FFF;
    }
}

.schedule{
    padding-bottom: 2rem;
    @include mobile{
        padding-top: 3rem;
    }
    h1{
        padding-bottom: 8rem;
        @include mobile{
            padding-bottom: 3rem;
        }
        @include tablet{
            padding-bottom: 3rem;
            text-align: center;
        }
    }
    .day{
        display: flex;
        justify-content: space-between;
        margin-bottom: 6rem;
        @include mobile{
            flex-direction: column;
            margin-bottom: 2rem;
        }
        .left{
            flex: 1;
            padding-right: 4rem;
            @include mobile{
                padding-bottom: 1.5rem;
            }
            @include tablet{
                padding-right: 2rem;
                font-size: 2rem;
            }
            h2{
                font-size: 1.5rem;
                font-weight: 700;
                line-height: 144%;
                color: $accent;
                text-align: right;
                margin-bottom: 2rem;
                @include mobile{
                    text-align: left;
                    font-size: 1.25rem;
                }
                @include tablet{
                    font-size: 1.5rem;
                }
            }
            .divider{
                height: 0.5rem;
                width: 2.25rem;
                background-color: $primary-light;
                float: right;
                @include mobile{
                    float: left;
                }
            }
        }
        .right{
            flex: 4;
            .row{
                display: flex;
                align-items: center;
                //justify-content: space-around;
                margin-bottom: 1rem;
                @include mobile{

                }
                @include tablet{
                    justify-content: flex-start;
                    gap: 1.5rem;
                }
                p{
                    width: 40%;
                    margin-left: 4rem;
                    font-size: 1.25rem;
                    &:nth-child(1){
                        width: 30%;
                        @include mobile{
                            width: 40%;
                        }
                        @include tablet{
                            width: 40%;
                        }
                    }
                    @include mobile{
                        margin-left: 0;
                        font-size: 0.75rem;
                        width: 50%;
                    }
                    @include tablet{
                        margin-left: 0.5rem;
                        font-size: 1rem;
                        width: 50%;
                    }
                }
                svg{
                    width: 10%;
                }
            }
        }
        
    }
    .separator{
        width: 90%;
        height: 2px;
        background-color: #fff;
        opacity: 0.5;
        margin-bottom: 6rem;
        margin-left: 4rem;
        @include mobile{
            margin-left: 0;
            width: 100%;
            margin-bottom: 2rem;
        }
        @include tablet{
            margin-bottom: 4rem;
        }
    }
}

.center{
    display: flex;
    justify-content: center;
    padding-bottom: 6rem;
}